@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='Endüstriyel servis/bakım sektöründe dünya çapında hizmet vermek, iş ortaklarımızın hedefledikleri üretime engel olan her türlü mekanik aksam sorunlarını en güvenli, inovatif, ve özellikle rakip tanımaz kısa süreli çözümlerle gidermek, ve alanında küresel ölçekte liderliği hedefleyen bir firma olmayı amaçlıyoruz.'>
    <meta name="author" content="Tor services">
    <meta name="publisher" content="Tor services">
    <title>TOR-SERVİCES</title>
    <link rel="icon" type="image/x-icon" href="/images/tor-logo.webp">
    <link rel="stylesheet" href="~/content/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel&family=Mukta:wght@300&family=PT+Serif&family=Shadows+Into+Light&family=Ubuntu:wght@300&display=swap">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        #loading {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: #fff;
        }

        #loading img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

</head>

<body>

    <div id="loading">
        <img src="~/images/loading.gif" alt="loading">
    </div>

    <div class="loading-content">
        <div class="header1">
            <img src="~/images/bg.webp" alt="bg-image" class="bg-image">
            @await Html.PartialAsync("/Views/Home/navbar.cshtml")

            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>@localizer["0"]</h1>
                        <span id="typed"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="header2">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-solid fa-compass-drafting"></i>
                            <h3>@localizer["2"]</h3>
                            <hr>
                            <p>@localizer["3"]</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-solid fa-truck-moving"></i>
                            <h3>@localizer["4"]</h3>
                            <hr>
                            <p>@localizer["5"]</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-solid fa-hammer"></i>
                            <h3>@localizer["6"]</h3>
                            <hr>
                            <p>@localizer["7"]</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <h3>@localizer["8"]</h3>
                            <hr>
                            <p>@localizer["9"] </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-solid fa-earth-europe"></i>
                            <h3>@localizer["10"]</h3>
                            <hr>
                            <p>@localizer["11"] </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <i class="fa-regular fa-clock"></i>
                            <h3>@localizer["12"]</h3>
                            <hr>
                            <p>@localizer["13"] </p>
                        </div>
                    </div>








                </div>
            </div>
        </div>

        <div class="header-swiper">
            <div class="container">
                <div class="row">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <img src="~/images/swiper/1.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/2.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/3.webp" alt="images" loading="lazy">
                            </div>                            
                            <div class="swiper-slide">
                                <img src="~/images/swiper/5y.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/6.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/7.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/8.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/9.webp" alt="images" loading="lazy">
                            </div>                            
                            <div class="swiper-slide">
                                <img src="~/images/swiper/10.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/11.webp" alt="images" loading="lazy">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/swiper/12.webp" alt="images" loading="lazy">
                            </div>
                            
                            <div class="swiper-slide">
                                <img src="~/images/swiper/13.webp" alt="images" loading="lazy">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next swiper-button"></div>
                        <div class="swiper-button-prev swiper-button"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header3">
            <img src="~/images/harita.webp" alt="harita">
            <div class="container">
                <div class="row">
                    <p>@localizer["14"]</p>
                </div>
            </div>
        </div>

        <div class="header4">
            <div class="container">
                <div class="row">
                    <h2 class="text-center pb-3">@localizer["15"]</h2>
                    <hr>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/enerji.webp" alt="enerji">
                        <h3>@localizer["16"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/demir.webp" alt="demir">
                        <h3>@localizer["17"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/deniz.webp" alt="deniz">
                        <h3>@localizer["18"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/petrol.webp" alt="petrol">
                        <h3>@localizer["19"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/kiremit.webp" alt="kiremit">
                        <h3>@localizer["20"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/kagit.webp" alt="kagit">
                        <h3>@localizer["21"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/otomobil.webp" alt="otomobil">
                        <h3>@localizer["22"]</h3>
                    </div>
                    <div class="col-md-3 content">
                        <img src="~/images/iconlar/elektrik.webp" alt="elektrik">
                        <h3>@localizer["23"]</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="header5">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 mt-5">
                        <h3>@localizer["24"]</h3>
                        <p>
                            <a href="teklif" title="teklif">@localizer["25"]</a>
                        </p>
                    </div>

                    <div class="col-md-6 mt-5">
                        <h3>@localizer["26"]</h3>
                        <p>
                            <a href="iletisim" title="iletisim">@localizer["27"]</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("/Views/Home/footer.cshtml")
    </div>





    <script src="~/content/jquery/dist/jquery.min.js"></script>
    <script src="~/content/jsdelivr/typed.js"></script>
    <script src="~/content/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="~/content/swiper/swiper-bundle.min.js"></script>
    <script>

        window.onload = function () {
            $('#loading').hide();
            var typed = new Typed('#typed', {
                strings: ['@localizer["1"]'],
                typeSpeed: 15,
            });

            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 1,
                spaceBetween: 0,
                centeredSlides: true,
                loop: true,
                cssmode: true,
                pagination: {
                    el: ".swiper-pagination",
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpoints: {
                    768: {
                        slidesPerView: 3
                    },
                },
                keyboard: true,
            });

            window.sr = new ScrollReveal();
            sr.reveal(".header2 .box", {
                distance: "100px",
                origin: "bottom",
                opacity: 0,
                scale: 0.4,
                interval: 300,
            });
            sr.reveal(".header4 .col-md-3", {
                distance: "100px",
                origin: "bottom",
                opacity: 0,
                scale: 0.4,
                interval: 300,
            });
            sr.reveal(".header5 .col-md-6", {
                distance: "100px",
                origin: "bottom",
                opacity: 0,
                scale: 0.4,
                interval: 300,
            });

        }

    </script>
</body>

</html>